# Banco de dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost:5432/sistema_comandas"

# Porta da API Express
PORT=3333

# URL permitida para acesso ao backend
CORS_ORIGIN=http://localhost:3000

# URL pública da API usada pelo frontend Next.js
NEXT_PUBLIC_API_URL=http://localhost:3333
